body{background-color: rgb(17, 125, 133) }

h1{text-align: center; color: rgb(0, 0, 0);
font-family: 'Courier New', Courier, monospace;
text-shadow: 3px 6px 7px rgb(49, 49, 49);}

nav{text-align: justify;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}


img { float: right;
margin-right: 100px; 
border-radius: 10%;
box-shadow: 10px 10px 15px rgb(49, 49, 49);}


p{text-align: left;
color: rgb(252, 252, 252);}
  

