body{background-color: rgb(17, 125, 133) }

h1{text-align: center; color: rgb(255, 255, 255);
font-family: 'Courier New', Courier, monospace; }

nav{text-align: justify;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}


img {"margin: px;;"}


p{text-align: left;
color: rgb(252, 252, 252);}
  

